# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.db
*.DS_Store

.vscode/
project/
# Distribution / packaging
.Python
tmp-*
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
wheelhouse/
venv/
